/vendor
/node_modules
/resources/temporary/*
/.sass-cache
/export
/imports
/composed

Homestead.yaml
.env
composer.phar
composer.lock
package-lock.json
patch*.sql
dump*.sql
mix-manifest.json
*.tar
*.gz
*.zip
*.sql

